@import url("fonts.css");

html * {
  font-family: HalvaMedium;
}

.main-container {
  text-align: center;
  margin-top: 10%;
}

.max_chars-container input {
  width: 2%;
}

.diffculty-list li {
  margin-top: 5px;
  margin-left: 15px;
}

.gen-pass-button-container {
  text-align: center;
}


.gen-pass-button {
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  border-style: solid;
  border-color: black;
  font-size: 48px;
  background-color: black;
  color: red;
  font-family: HalvaMedium;
}

.gen-pass-button:hover {
  background-color: black;
  color: green;
}

.password-container {
  margin-top: 50px;
  text-align: center;
}

#password {
  font-size: 48px;
  font-family: HalvaMedium;
  font-weight: bolder;
}
